@CHARSET "UTF-8";

body{
	background-color: black;
	text-align: center;
}
h1 {
  text-align: center;
  color: gold;
  border: 1px;
  border-style:solid;
  border-color: #1aff1a;  
  width: 80%;
  margin: auto;
}

h2{
	text-align:center;
	color: red;
}
p{
	color: #1aff1a;
	font-family: "Comic Sans MS";
	
}
body {
	background-image: url("https://fontanalib.files.wordpress.com/2016/01/random-bookshelf.jpg");
	color: Gold;
}

